body {
    background-color: #ece68f;
    color: rgb(26, 26, 107);

    font-family: "Cookie", cursive;
    font-weight: 400;
    font-style: normal;

    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
}

/* * {
    padding: 0;
    margin: 0;
} */

a {
   color: blueviolet; 
   text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

a:active {
    color: blue;
}

a:visited {
    color: rgb(233, 58, 58);
}

.avatar {
   width: 425px;
   border-radius: 40%;
   box-shadow: -13px 7px 40px rgb(2, 5, 180);
}

.info p {
    color: rgb(73, 58, 116);
    margin: 0;
    font-style: italic;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
    /* word-spacing: 5px; */
}

.info{
    display: flex;
    margin-bottom: 15px;
}

@media (max-width:990px) {
    .info {
        text-align: center;
        display: block;
    }
}

.info-text {
    margin-left: 40px;
}
.info-text h3{
    margin-bottom: 10px;
}

.container {
    max-width: 75%;
    margin: auto;
    padding-top: 30px;
}

/* .net {
    background: red;
    padding: 20px;
    margin: 0 20px 0 0; 
    border: 5px solid green;
    border-bottom-style: dotted;
    border-top-width: 2px;
    border-right-color: aqua;
} */

/* .box-model > div {
    float:left;
    background: pink;
    height: 200px;
    border: 4px solid red;
    width: 25%;
    box-sizing: border-box;
} */

.bg-yellow{
    background: rgb(252, 176, 176);
}

.bg-green{
    background: rgb(255, 195, 152);
}

.bg-red{
    background: rgb(216, 156, 240);
}
.bg-grey{
    background: rgb(238, 176, 207);
}

.card {
    padding: 15px 20px;
    margin-bottom: 20px;
    border-radius: 40px;
}

.card h3 {
    margin-bottom: 30px;
}
.list {
    list-style: none;
}

.list em {
    font-size: 20px;
    font-weight: bold;
}

.list p {
    color: rgb(131, 4, 4);
}

.table {
    width: 60%;
    text-align: center;
}

.table th {
    padding-bottom: 10px;
    
}

.table td:nth-child(1), .table td:nth-child(2), .table td:nth-child(3) {
   color: rgb(129, 37, 0);  
}

.link-list {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
}

.link-list li {
    padding-left: 20px;
    padding-bottom: 5px;
    border-bottom: 1px dashed #7a7633;
}

.contact{
    width: 50%;
}

.contact h3 {
    text-align:left;
}

.form-group label {
    display: block;
    font-size: 14px;
    color: #4f1669;
}

.form-group input,
.form-group textarea{
    width: 100%;
    box-sizing: border-box;
    border: none;
    background: transparent;
    border-bottom: 1px solid rgb(0, 0, 0);
    color: rgb(3, 0, 0);
    padding: 5px 0 5px 0;
    outline: none;
    font-family: inherit;
}
.row {
    display: flex;
    margin-bottom: 15px;
}

.row > .form-group {
    width: 50%;

}
.row > .form-group:first-child {
    margin-right: 20px;
}

.btn {
    background: rgb(255, 180, 180);
    color: rgb(129, 57, 57);
    padding: 5px 20px;
    font-size: 20px;
    font-family: inherit;
    border: none;
    cursor: pointer;
    border-radius: 100px;
}

.btn:hover {
    opacity: 0,9;
}

/* Position */

/* .position {
    position: relative;
    border: 2px dashed red;
    margin-top: 40px;
    padding: 20px;
    height: 400px;
}

.box {
    position: fixed;
    top: 0;
    right: 20px;
    left: 0;
    border-radius: 25px;
    width: 100%;
    height: 30px;
    background: yellowgreen;
} */